/*ESTILO DO CABEÇALHO - Largura mínima que consegui deixar responsiva: 375px*/
header {
    width: 100%;
    background-image: url("../Assets/img/fundo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    display: flex;
    justify-content: center !important;
    align-items: center;
    width: 80%;
    height: 80%;
    padding: 0;
}
.logo img {
    max-width: 90%;
    max-height: 70px;
    height: auto; 
    object-fit: contain;
    display: block;
    margin: 1%;
    padding: 0;
}
.logo-zoom {
    transition: transform 0.3s ease;
}
.logo-zoom:hover {
    transform: scale(1.1);
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2%;
    height: 100%;
    flex-wrap: nowrap;
}
nav a {
    font-size: 18px;
    position: relative;
}
nav a::after {
    content: " ";
    display: block;
    position: absolute;
    width: 0;
    height: 2px;
    top: 36px;
    left: 50%;
    background-image: linear-gradient(45deg, #ffffffcc);
    transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
    border-radius: 2px;

}
nav a:hover::after{
    width: 100%;
}


.pesquisa, .perfil {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pesquisa input {
    max-width: 600px;
}

@media (max-width: 576px) {
  .perfil-pesquisa {
        justify-content: center !important;
        margin-top: 1rem;
  }
}


/*ESTILO DA PARTE NO TOPO*/
.container-fluid{
    background-image: url("../Assets/fotografias/imagemSobre.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    padding: 40px 20px;
}


.paragrafo {
    font-family:'Courier New', Courier, monospace;
    text-align: left;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
}
.paragrafo p {
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
} 
.paragrafo p span {
    font-size: 1.5em;
    font-weight: 800;
}


.ilustration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.ilustration img{
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .paragrafo {
        justify-content: center;
        text-align: center;
        padding-bottom: 20px;
    }

    .ilustration {
        justify-content: center;
    }
}


/*ESTILO DO MAIN*/
body{
    background-color: #f4f4f4;
}
.aba-sobre {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    height: 80%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 7px;
    margin: 15% auto;
    box-shadow: 0 0 40px #004080; 
}
.sobre{
    background-color: #ffffff;
    padding: 2rem;
    max-width: 100%;
    max-height: 100%;
    border-radius: 7px;
    box-shadow: 0 0 40px #004080;
    margin: 3% auto;
}

.projeto{
    text-align: justify;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    main .row  {
        flex-direction: column;
    }
    .aba-sobre, .sobre{
        margin: 3% auto;
    }
}


/*ESTILO DO RODAPÉ*/
footer {
    border-top: 4px solid #004080;
}

footer a:hover {
    text-decoration: underline;
    color: #ffc107 !important;
}